@import '~bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
}

.post {
  height: 50rem;
  border: 1px solid black;
  border-radius: 8px;
}

.post img {
  width: 11rem;
  height: 6rem;
}
