@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.post {
  height: 24rem;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px grey;
}

.post img {
  width: 13rem;
  height: 6rem;
}

.post a {
  text-decoration: none;
}

.singlePagePost {
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px grey;
}

footer p {
  font-weight: 600;
}